:root.theme-dark {
  --bg-image: url(../images/cover-image-dark.png);
  --bg-color: #000028;
  --header-color: #db00ff;
  --header-decor-color: #ff0070;
  --accent-color: #ff0070;
  --accent-color-transparent: rgba(255 0 112 / 0.4);
  --accent-text-color: #000028;
  --main-text-color: #f1b2ce;
  --section-title-color: #ff0070;
  --footer-color: #db00ff;
}

.theme-dark .rec-element {
  display: flex;
}
