/*
  Специально для светлой темы при наличии класса.
  Здесь окажутся стили, которые нужно переопределить принудительно,
  переключая тему
*/

:root.theme-light {
  /* сохраните этот селектор в приведённом виде.
    Так стили написанные ниже будут иметь больший вес,
    чем стили в медиазапросе предпочтений пользователя
  */
  --bg-image: url(../images/cover-image-light.png);
  --bg-color: #fff1f7;
  --header-color: #ffc2e6;
  --accent-color: #ff8dcb;
  --header-decor-color: #353430;
  --accent-color-transparent: rgba(50 49 45 / 0.4);
  --accent-text-color: #353430;
  --main-text-color: #353430;
  --section-title-color: #353430;
  --footer-color: #ffc2e6;
}

.theme-light .rec-element {
  display: none;
}

@media (prefers-color-scheme: light) {
  :root {
    --bg-image: url(../images/cover-image-light.png);
    --bg-color: #fff1f7;
    --header-color: #ffc2e6;
    --accent-color: #ff8dcb;
    --header-decor-color: #353430;
    --accent-color-transparent: rgba(50 49 45 / 0.4);
    --accent-text-color: #353430;
    --main-text-color: #353430;
    --section-title-color: #353430;
    --footer-color: #ffc2e6;
  }
  .theme-auto .rec-element {
    display: none;
  }
}
